.body{
}

.images img{
    width:100%;
    filter:brightness(80%);
}
.images img:hover{
    filter:brightness(100%);
}
.story{
    text-align: left;
}
#quick{

}
.msg{
}
.images{

}
.row{
    margin: 8px;
    padding: 0 16px;
}
