.homepic{
    color: #1c1c1c;
    padding: 20px;
    position: relative;
}
.homepic img{
    width: 100%;
    height: 100%;
    border: 5px solid #6c848d;
}
.homepic h1{
    color: #333631;
}
.writer{
    position: absolute;
    right: 30%;
    color: #c1c1c1;
    font-style: italic;
}
.writer p{
    margin-bottom: 0;
}
.article{
    margin-top: 18%;
    color: #56564b;
    text-align: left;
}
.article p{
    margin: 0;
    padding: 0;
    text-indent: 2em;
}
