#body{
    display: flex;
    flex-wrap: wrap;
}
#list{
    width: 70%;
    text-align: left;
    padding-left: 5%;
}
#aside{
    width: 30%;

}

#timeline{
    width: 100%;
    text-align: left;
    margin-left: 10%;
}
#timeline a{
    text-decoration: none;
}
