

#aside{
    width: 30%;

}
#timeline{
    width: 100%;
    text-align: left;
    margin-left: 10%;
}
#timeline a{
    text-decoration: none;
}
.item:hover{
    cursor: pointer;
}
.item-content{
    overflow: hidden;
    display: -webkit-box;
    /*autoprefixer: off*/
    -webkit-box-orient: vertical;
    /*autoprefixer: on*/
    -webkit-line-clamp:3;
    -moz-box-orient: vertical;
    max-height: 100px;
}
.item-title{
    text-align: left;
}
.item-img{
    width: 100%;
}
.item-imgdiv{
    padding: 5%;
}
.item-col{
}
.story-list-row{
    display: flex;
    align-items: center;
}
