

#aside{
    width: 30%;

}
#timeline{
    width: 100%;
    text-align: left;
    margin-left: 10%;
}
#timeline a{
    text-decoration: none;
}
.item:hover{
    cursor: pointer;
}
.item-title{
    text-align: left;
    font-size: 20px;
}
.item-img{
    width: 100%;
}
.item-imgdiv{
    padding: 5%;
    width: 200px;
}
.item-col{
    border-bottom: 1px solid #c1c1c1;
}
